.footerBox {
    border: solid 2px silver;
    border-radius: 5px;
    padding: 20px;
    width: calc(100% - 200px);
    height: 100px;
    position: relative;
    bottom: 20px;
    right: 100px;
    left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

@media (max-width: 768px) {
    .footerBox {
        width: calc(100% - 40px);
        right: 20px;
        left: 20px;
    }
}
