.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.switchLocale {
    display: flex;
    list-style: none;
}

.switchLocale li {
    padding: 5px;
}

.switchLocale img {
    width: 40px;
}
